<div class="container">
    <div class="title">    
        <app-title-page [titleOfPage]="titleOfPage"></app-title-page>
    </div>  
    <div class="body__container">
        <form [formGroup]='addChangePasswordForm'>

            <div class="info__widget">
                <p>Mật Khẩu Cũ:</p>
                <input formControlName=oldPassword type="password"  placeholder="Nhập Mật Khẩu Cũ...">
                <div *ngIf="addChangePasswordForm.get('oldPassword')?.invalid && (addChangePasswordForm.get('oldPassword')?.dirty || addChangePasswordForm.get('oldPassword')?.touched)" class="alert"> 
                    Vui Lòng Nhập Mật Khẩu Cũ!
                </div>
            </div>

            <div class="info__widget widget__larger">
                <p>Mật Khẩu Mới:</p>
                <input formControlName='newPassword' type="password"  placeholder="Nhập Mật Khẩu Mới...">
                <div *ngIf="addChangePasswordForm.get('newPassword')?.invalid && (addChangePasswordForm.get('newPassword')?.dirty || addChangePasswordForm.get('newPassword')?.touched)" class="alert">
                    Vui Lòng Nhập Mật Khẩu Mới!
                </div>
            </div>

            <div class="info__widget widget__larger">
                <p>Xác Nhận Mật Khẩu Mới:</p>
                <input formControlName='confirmNewPassword' type="password"  placeholder="Xác Nhận Mật Khẩu Mới...">
                <div *ngIf="addChangePasswordForm.get('confirmNewPassword')?.invalid && (addChangePasswordForm.get('confirmNewPassword')?.dirty || addChangePasswordForm.get('confirmNewPassword')?.touched)" class="alert">
                    Vui Lòng Xác Nhận Mật Khẩu Mới!
                </div>
            </div>
            
            <mat-dialog-actions align="end">
                <button class="close"(click)=closed()>Hủy</button>
                <button class="confirm alternate-theme" (click)=confirm(addChangePasswordForm.value)>
                    <p>Xác Nhận</p>
                    <mat-spinner diameter=30 color='primary' strokeWidth=3 *ngIf='ShowSpinner'></mat-spinner>
                </button>
            </mat-dialog-actions>
        </form>  
    </div>  
</div>


