.container{
    background-color: rgb(232, 239, 252);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.title{
    background-color: white;
    width: 98%;
}
.body{
    background-color: white;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
    width: 98%;
    height: 65vh;
    border: 2px solid grey;
    .body__container{
        position: relative;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        .navbar{
            i{
                font-size: 2rem;
            }
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-size: 1.6rem;
            .input__area{
                width: 30%;
            }
            .input__area input{
                padding-left: 10px;
                font-size: 1.8rem;
                border: none;
                height: 50px;
                width: 100%;
                outline: none;
                border-bottom: 1px solid black;
            }
            .input__area i{
                margin-left: -25px;
            }
        }
        .body__table{
            display: flex;
            justify-content: center;
            width: 100%;
            table{
                width: 100%;
                border-collapse: collapse;
                tr{
                    height: 40px;
                    th{
                        font-size: 2rem;
                        background-color: rgb(69, 108, 146);
                        color: white;
                        i{
                            font-size: 1.4rem;
                        }
                        i:hover{
                            box-shadow: 1px 1px 1px 1px black;
                        }
                    }
                    td{
                        white-space: nowrap;
                        max-width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                        font-size: 1.6rem;
                        border-bottom: 1px solid #234262;
                    }
                }
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
                tr:hover{
                    background-color: #9aa1cf;
                    cursor: pointer;     
                }
            }
        }
    }
}

.spinner{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.paginate{
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 430px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px darkslategray;
    cursor: pointer;
    outline: none;
    margin: 0 20px 0 0;
    width: 80px;
    height: 35px;
    border: none;
    p{
        margin: 0;
        text-align: center;
    }
}
button:hover{
    box-shadow: 2px 2px 2px 2px darkslategray;
    height: 40px;
    width: 80px;
}
button:active{
    box-shadow: 1px 1px 1px 1px darkslategray; 
}
button:focus{
    p{
        display: none;
    }
}
.confirm{
    background-color: #3A6794;
    color: white;
}
.active{
    background-color: #9aa1cf !important;
}