
<div class="container">
    <div class="title">    
        <app-title-page [titleOfPage]="titleOfPage"></app-title-page>
    </div>

    <div class="step1">
        <div class="body">
            <div class="body__container1">
                <div class="navbar">
                    <div class="input__area">
                        <input  type="text" name="search" [(ngModel)]="search" placeholder="Tìm Kiếm..." ><i class="fas fa-search"></i>
                    </div>
                </div>
                <div style="height: 60vh; width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;">
                    <div class="body__table">
                        <table>
                            <tr>
                              <th (click)="sort('studentId')">Mã HV&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('firstName')">Họ Tên&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('birdDay')">Ngày Sinh&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('sex')">Giới Tính&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('level')">Level&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('status')">Tình Trạng&nbsp;<i class="fas fa-sort"></i></th>
                              <th (click)="sort('departmentName')">Trung Tâm&nbsp;<i class="fas fa-sort"></i></th>
                            </tr>
                            <tr (click)='checkedRowTable(student)' id='{{student.studentId}}' *ngFor='let student of Students | orderBy: key: reverse | filter : search | paginate : {itemsPerPage:9, currentPage: pageChanged}'>
                              <td>{{student.studentId}}</td>
                              <td>{{student.lastName}} {{student.firstName}}</td>
                              <td>{{student.birthday | date:'dd/MM/YYYY'}}</td>
                              <td>{{student.sex ? 'Nam':'Nữ'}}</td>
                              <td>{{student.level}}</td>
                              <td>{{student.status ? 'Đang Theo Học':'Không Theo Học'}}</td>
                              <td>{{student.departments.name}}</td>
                            </tr>
                        </table>
                    </div> 
                    <div class="spinner">
                        <mat-spinner color='light-white' diameter=50 strokeWidth=5 *ngIf='ShowSpinner'></mat-spinner>
                    </div> 
                </div>    
                <div class="paginate">            
                    <pagination-controls
                        class="custom__paginate"
                        [maxSize]="maxSize"
                        [directionLinks]="directionLinks"
                        [autoHide]="autoHide"
                        [responsive]="responsive"
                        [previousLabel]="labels.previousLabel"
                        [nextLabel]="labels.nextLabel"
                        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                        [screenReaderPageLabel]="labels.screenReaderPageLabel"
                        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" 
                        (pageChange)="pageChanged=$event">
                    </pagination-controls>
                </div>    
            </div>
        </div>

        <mat-dialog-actions style="width: 98%; 
                                display: flex;
                                justify-content: center;" align="end">
            <button class="close"(click)=closed()>Hủy</button>
            <button class="confirm alternate-theme" (click)=nextStep()>
                <p id="textButton">Tiếp Theo</p>
                <mat-spinner diameter=30 color='primary' strokeWidth=3 *ngIf='ShowSpinnerButton'></mat-spinner>
            </button>
        </mat-dialog-actions>
    </div>

    <div class="step2 hide">
        <form [formGroup]='addParentForm'> 

            <div class="widget__container">
                <div class="info__widget">
                    <p>Họ:</p>
                    <input formControlName=lastName type="text"  placeholder="Nhập Họ...">
                    <div *ngIf="addParentForm.get('lastName')?.invalid && (addParentForm.get('lastName')?.dirty || addParentForm.get('lastName')?.touched)" class="alert"> 
                        Vui Lòng Nhập Họ Phụ Huynh!
                    </div>
                </div>
    
                <div class="info__widget">
                    <p>Tên:</p>
                    <input formControlName=firstName type="text"  placeholder="Nhập Tên...">
                    <div *ngIf="addParentForm.get('firstName')?.invalid && (addParentForm.get('firstName')?.dirty || addParentForm.get('firstName')?.touched)" class="alert"> 
                        Vui Lòng Nhập Tên Phụ Huynh!
                    </div>
                </div>
    
                <div class="info__widget">
                    <p>Ngày Sinh:</p>
                    <div class="datePicker">
                        <input placeholder="Chọn ngày sinh..." [matDatepicker]="picker" formControlName=birthday>
                        <div class="icon__picker">
                            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #picker></mat-datepicker>
                        </div>             
                    </div>
                    <div *ngIf="addParentForm.get('birthday')?.invalid && (addParentForm.get('birthday')?.dirty || addParentForm.get('birthday')?.touched)" class="alert"> 
                        Vui Lòng Nhập Ngày Sinh Phụ Huynh!
                    </div>
                </div>
    
                <div class="info__widget">
                    <p>Giới Tính:</p>
                    <div class="sex__radio">
                        <mat-radio-group formControlName=sex>
                            <mat-radio-button checked value=true>Nam</mat-radio-button>
                            <mat-radio-button value=false>Nữ</mat-radio-button>
                        </mat-radio-group>
                    </div>   
                    <div *ngIf="addParentForm.get('sex')?.invalid && (addParentForm.get('sex')?.dirty || addParentForm.get('sex')?.touched)" class="alert"> 
                        Vui Lòng Chọn Giới Tính Phụ Huynh!
                    </div>  
                </div>
    
                <div class="info__widget">
                    <p>Số Điện Thoại:</p>
                    <input formControlName='phoneNumber' type="text"  placeholder="Nhập Số điện thoại..">
                    <div *ngIf="addParentForm.get('phoneNumber')?.invalid && (addParentForm.get('phoneNumber')?.dirty || addParentForm.get('phoneNumber')?.touched)" class="alert">
                        Vui Lòng Nhập Số Điện Thoại Phụ Huynh!
                    </div>
                </div>
    
                <div class="info__widget">
                    <p>Email:</p>
                    <input formControlName='email' type="email"  placeholder="Nhập Email..">
                    <div *ngIf="addParentForm.get('email')?.invalid && (addParentForm.get('email')?.dirty || addParentForm.get('email')?.touched)" class="alert">
                        Vui Lòng Nhập Email Phụ Huynh!
                    </div>
                </div>
            </div>

            <mat-dialog-actions align="end">
                <button class="close"(click)=closed()>Hủy</button>
                <button class="backstep"(click)=backStep()>Quay Lại</button>
                <button class="confirm alternate-theme" [disabled]='addParentForm.invalid' (click)=confirm(addParentForm.value)>
                    <p class='text__button'>Xác Nhận</p>
                    <mat-spinner diameter=30 color='primary' strokeWidth=3 *ngIf='ShowSpinnerButton'></mat-spinner>
                </button>
            </mat-dialog-actions>  
        </form>  
    </div>   
</div>