<div class="container">
  <div class="title">
    <app-title-page [titleOfPage]='titleOfPage'></app-title-page>
  </div>
  <div class="body">
    <div class="student">
      <div class="navbar">
        <div class="input__area">
          <input  type="text" name="search" [(ngModel)]="search" placeholder="Tìm Kiếm..." ><i class="fas fa-search"></i>
        </div>
        <button (click)="openAddStudentDialog()">Thêm Học Viên&nbsp; <i class="far fa-plus-square"></i></button>
      </div>
      <div class="body__student">
        <table>
            <tr>
              <th (click)="sort('studentId')">Mã HV&nbsp;<i class="fas fa-sort"></i></th>
              <th style="max-width: 150px;" (click)="sort('firstName')">Họ Tên&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('birdDay')">Ngày Sinh&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('sex')">Giới Tính&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('address')">Địa Chỉ&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('phoneNumber')">SĐT&nbsp;<i class="fas fa-sort"></i></th>
              <!--th (click)="sort('email')">Email&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('level')">Level&nbsp;<i class="fas fa-sort"></i></th-->
              <th (click)="sort('status')">Tình Trạng&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('deactivationDate')">Hạn Kích Hoạt&nbsp;<i class="fas fa-sort"></i></th>
              <th (click)="sort('departmentName')">Trung Tâm&nbsp;<i class="fas fa-sort"></i></th>
              <!--th (click)="sort('parentName')">Phụ Huynh&nbsp;<i class="fas fa-sort"></i></th-->
              <th></th>
              <th></th>
            </tr>
            <tr *ngFor='let students of Student | orderBy: key: reverse | filter : search | paginate : {itemsPerPage:12, currentPage: pageChanged}'>
              <td>{{students.studentId}}</td>
              <td style="max-width: 150px;">{{students.lastName}} {{students.firstName}}</td>
              <td>{{students.birthday | date:'dd/MM/YYYY'}}</td>
              <td>{{students.sex ? 'Nam':'Nữ'}}</td>
              <td>{{students.address}}</td>
              <td>{{students.phoneNumber}}</td>
              <!--td>{{students.email}}</td>
              <td>{{students.level}}</td-->
              <td>{{students.status}}</td>
              <td>{{students.deactivationDate | date:'dd/MM/YYYY'}}</td>
              <td>{{students.departments.name}}</td>
              <!--td>{{students.parents?.lastName}} {{students.parents?.firstName}}</td-->
              <td>
                <button routerLink='{{students.studentId}}'><i class="far fa-address-card"></i></button>
              </td>
              <td><button (click)=openEditStudentDetailDialog(students)><i class="far fa-edit"></i></button></td>
            </tr>
        </table>
      </div>    
      <div class="spinner">
        <mat-spinner color='' diameter=50 strokeWidth=5 *ngIf='ShowSpinner'></mat-spinner>
      </div>
      <div class="paginate">            
        <pagination-controls
            class="custom__paginate"
            [maxSize]="maxSize"
            [directionLinks]="directionLinks"
            [autoHide]="autoHide"
            [responsive]="responsive"
            [previousLabel]="labels.previousLabel"
            [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" 
            (pageChange)="pageChanged=$event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

