<div class="container">
    <div class="title">    
        <app-title-page [titleOfPage]="titleOfPage"></app-title-page>
    </div>
    <div class="image">
        <img src="{{avatar}}" alt="">
    </div>
    <div class="body__container">
        <form [formGroup]='editStudentForm'>
            <div class="container__widget">
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Họ:</p>
                        <input formControlName=lastName type="text"  placeholder="Nhập Họ...">
                    </div>
                    <div *ngIf="editStudentForm.get('lastName')?.invalid && (editStudentForm.get('lastName')?.dirty || editStudentForm.get('lastName')?.touched)" class="alert"> 
                        Vui Lòng Nhập Họ Học Viên!
                    </div>
                </div>
        
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Tên:</p>
                        <input formControlName=firstName type="text"  placeholder="Nhập Tên...">
                    </div>
                    <div *ngIf="editStudentForm.get('firstName')?.invalid && (editStudentForm.get('firstName')?.dirty || editStudentForm.get('firstName')?.touched)" class="alert"> 
                        Vui Lòng Nhập Tên Học Viên!
                    </div>
                </div>
    
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Giới Tính:</p>
                        <div class="sex__radio">
                            <mat-radio-group color='primary' formControlName=sex>
                                <mat-radio-button [checked]='men' value=true>Nam</mat-radio-button>
                                <mat-radio-button [checked]='women' value=false>Nữ</mat-radio-button>
                            </mat-radio-group>
                        </div> 
                    </div>  
                    <div *ngIf="editStudentForm.get('sex')?.invalid && (editStudentForm.get('sex')?.dirty || editStudentForm.get('sex')?.touched)" class="alert"> 
                        Vui Lòng Chọn Giới Tính Học Viên!
                    </div>  
                </div>
    
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Ngày Sinh:</p>
                        <div class="datePicker">
                            <input placeholder="Chọn ngày sinh..." [matDatepicker]="picker" formControlName=birthday>
                            <div class="icon__picker">
                                <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker startView="multi-year" #picker></mat-datepicker>
                            </div>             
                        </div>
                    </div>
                    <div *ngIf="editStudentForm.get('birthday')?.invalid && (editStudentForm.get('birthday')?.dirty || editStudentForm.get('birthday')?.touched)" class="alert"> 
                        Vui Lòng Nhập Ngày Sinh Học Viên!
                    </div>
                </div>
    
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Địa Chỉ:</p>
                        <input formControlName='address' type="text"  placeholder="Nhập Địa Chỉ...">
                    </div>
                    <div *ngIf="editStudentForm.get('address')?.invalid && (editStudentForm.get('address')?.dirty || editStudentForm.get('address')?.touched)" class="alert">
                        Vui Lòng Nhập Địa Chỉ Học Viên!
                    </div>
                </div>
    
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Số Điện Thoại:</p>
                        <input formControlName='phoneNumber' type="text"  placeholder="Nhập Số điện thoại..">
                    </div>
                    <div *ngIf="editStudentForm.get('phoneNumber')?.invalid && (editStudentForm.get('phoneNumber')?.dirty || editStudentForm.get('phoneNumber')?.touched)" class="alert">
                        Vui Lòng Nhập Số Điện Thoại Học Viên!
                    </div>
                </div>
            
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Email:</p>
                        <input formControlName='email' type="email"  placeholder="Nhập Số điện thoại..">
                    </div>                   
                    <div *ngIf="editStudentForm.get('email')?.invalid && (editStudentForm.get('email')?.dirty || editStudentForm.get('email')?.touched)" class="alert">
                        Vui Lòng Nhập Số Điện Thoại Học Viên!
                    </div>
                </div>
                
                <div class="info__widget">
                    <div class="nav__input">
                        <p>Level:</p>
                        <input formControlName='level' type="number"  placeholder="Level...">
                    </div>          
                    <div *ngIf="editStudentForm.get('level')?.invalid && (editStudentForm.get('level')?.dirty || editStudentForm.get('level')?.touched)" class="alert">
                        Vui Lòng Level Là Số!
                    </div>
                </div>
            
                <div class="info__widget">
                    <div class="nav__input">
                        <p style="width: 300px;">Trung Tâm:</p>
                        <mat-select style="width: 300px;" formControlName='departmentId' placeholder='Chọn Trung Tâm'>
                            <mat-option *ngFor='let departments of Department' [value]="departments.id">{{departments.name}}</mat-option>
                        </mat-select>    
                    </div>
                    <div *ngIf="editStudentForm.get('departmentId')?.invalid && (editStudentForm.get('departmentId')?.dirty || editStudentForm.get('departmentId')?.touched)" class="alert">
                        Vui Lòng Chọn Trung Tâm Của Học Viên!
                    </div>
                </div>
            </div>
            
            <mat-dialog-actions align="end">
                <button class="close"(click)=closed()>Hủy</button>
                <button class="confirm alternate-theme" (click)=confirm(editStudentForm.value)>
                    <p>Xác Nhận</p>
                    <mat-spinner diameter=30 color='primary' strokeWidth=3 *ngIf='ShowSpinner'></mat-spinner>
                </button>
            </mat-dialog-actions>
        </form>
    </div>    
    
</div>

