
<div class="container">
    <div class="logo">
        <img src="../../../../assets/img/logo.png" alt="">
    </div>
    <div class="menu__container">
        <ul class="menu__ListItem">
            <li routerLinkActive="active" class="items" routerLink="student"><a  class="items__link">Quản Lý Học Viên</a></li>
            <!--li class="items" (click)="alert()"><a  class="items__link">Quản Lý Phụ Huynh</a></li-->
            <li routerLinkActive="active" class="items" routerLink="parent"><a  class="items__link">Quản Lý phụ Huynh</a></li>
            <li routerLinkActive="active" class="items" routerLink="teacher"><a  class="items__link">Quản Lý Giáo Viên</a></li>
            <li routerLinkActive="active" class="items" routerLink="advisory"><div style="text-align: center;"><a class="items__link">Quản Lý Đăng Ký Tư Vấn</a></div></li>
            <li routerLinkActive="active" class="items" routerLink="course"><a class="items__link">Quản Lý Khóa Học</a></li>
            <li routerLinkActive="active" class="items" routerLink="department"><a class="items__link">Quản Lý Trung Tâm</a></li>
            <li routerLinkActive="active" class="items" routerLink="event"><a class="items__link">Quản Lý Sự Kiện</a></li>
            <li routerLinkActive="active" class="items" routerLink="recruitment"><a class="items__link">Quản Lý Tuyển Dụng</a></li>
            <li routerLinkActive="active" class="items" routerLink="question"><a class="items__link">Quản Lý Câu Hỏi</a></li>
        </ul>
    </div>
</div>

